include src/snagrecover/supported_socs.yaml
include src/snagrecover/firmware/sunxi_fw/soc_info.yaml
include src/snagrecover/firmware/sunxi_fw/fel-to-spl-thunk.bin
include src/snagrecover/firmware/sunxi_fw/fel-to-spl-thunk.S
include src/snagrecover/templates/*
include src/snagrecover/80-snagboot.rules
include src/snagrecover/am335x_usb_setup.sh

