include src/snagrecover/supported_socs.yaml
include src/snagrecover/firmware/sunxi_fw/soc_info.yaml
include src/snagrecover/firmware/sunxi_fw/fel-to-spl-thunk.bin
include src/snagrecover/firmware/sunxi_fw/fel-to-spl-thunk.S
include src/snagrecover/templates/*
include src/snagrecover/50-snagboot.rules
include src/snagrecover/am335x_usb_setup.sh
include src/snagfactory/gui.kv
include src/snagfactory/config.kv
include src/snagfactory/assets/*

